<div fxLayout="row" class="main">
  <div fxLayout="column" fxFlex="300px" class="left-panel">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Axie name" />
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between baseline">
      <h3>Filter</h3>

      <button mat-button>Clear filter</button>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div fxLayout="column" [ngStyle]="{ width: '100%' }" class="right-panel">
    <div fxLayout="row">
      <h2>{{ scholars.length }} Axies</h2>
    </div>

    <div class="axie-container">
      <mat-card *ngFor="let scholar of scholars" class="axie-card">
        <span style="font-size: 12px">{{
          hideAddresses ? "AxieName" : scholar.name
        }}</span>
      </mat-card>
    </div>
  </div>
</div>
