<div fxLayout="row" class="main">
  <form [formGroup]="form" fxLayout="column" fxFlex="300px" class="left-panel">
    <div fxLayout="row" fxLayoutAlign="space-between baseline">
      <h3>Filter</h3>

      <button mat-button (click)="onClearFilter()">Clear filter</button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Search by name</mat-label>
      <input matInput placeholder="Axie name" formControlName="searchQuery" />
    </mat-form-field>

    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Parts</mat-label>
      <input
        type="text"
        matInput
        formControlName="partQuery"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onSelectPart($event.option.value)"
      >
        <mat-optgroup *ngFor="let type of types | async" [label]="type.name">
          <mat-option *ngFor="let part of type.parts" [value]="part.name">
            {{ part.name }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

    <mat-chip-list>
      <mat-chip
        *ngFor="let part of selectedPartsControl.value; let index = index"
        [removable]="true"
        (removed)="onRemovePart(index)"
        >{{ part }} <mat-icon matChipRemove>cancel</mat-icon></mat-chip
      >
    </mat-chip-list>
  </form>
  <mat-divider vertical></mat-divider>
  <div fxLayout="column" [ngStyle]="{ width: '100%' }" class="right-panel">
    <div fxLayout="row">
      <h2>{{ (axies | async).length || 0 }} Axies</h2>
    </div>

    <div class="axie-container">
      <mat-card *ngFor="let axie of axies | async" class="axie-card">
        <span [style.background]="getAxieClassColor(axie.class)">{{
          hideAddresses ? "#AxieId" : "#" + axie.id
        }}</span
        ><br />
        <span style="font-size: 12px">{{
          hideAddresses ? "AxieName" : axie.name
        }}</span
        ><br />
        <span style="font-size: 12px">Breed Count: {{ axie.breedCount }}</span
        ><br />
        <img [src]="axie.image" style="height: 120px" />
      </mat-card>
    </div>
  </div>
</div>
