.title-row {
  font-weight: bold;
}

.content-container {
  flex-wrap: wrap;
  margin: -10px;

  mat-card {
    margin: 10px;
  }

  .content-column {
    .label {
      font-size: 12px;
    }
  }
}

.item-row {
  padding-left: 10px;
}


.small-text {
  font-size: 10px;
}

.note-card {
  min-width: 200px;
}

:host {
  width: 100%;
  text-align: left;
}
