<div fxLayout="column" fxLayoutGap="20px" [ngStyle]="{ margin: '20px 10px' }">
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
    <div fxLayout="row" fxFlex class="content-container">
      <mat-card fxFlex="calc(50% - 20px)">
        <mat-card-title>{{ scholar.scholar.name }}</mat-card-title>
        <mat-card-content class="content-column">
          <mat-list>
            <mat-list-item>
              <div mat-line class="label">Email</div>
              <div mat-line class="content">{{ scholar.scholar.email }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div mat-line class="label">Ronin Name</div>
              <div mat-line class="content">{{ roninName | shortenName: false }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div mat-line class="label">Ronin Address</div>
              <div mat-line fxLayout="row" fxLayoutAlign="space-between center">
                <span>
                  {{ scholar.roninAddress | shortenRoninAddress: false }}
                </span>

                <button mat-icon-button>
                  <mat-icon
                    [cdkCopyToClipboard]="scholar.roninAddress"
                    (click)="openSnackBar(scholar.roninAddress)"
                    >file_copy</mat-icon
                  >
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="calc(50% - 20px)"> </mat-card>
      <mat-card fxFlex="calc(50% - 20px)"> </mat-card>
      <mat-card fxFlex="calc(50% - 20px)"> </mat-card>
    </div>
    <mat-card class="note-card">
      <mat-card-title>Notes</mat-card-title>
      <mat-card-content>
        <mat-form-field [ngStyle]="{ width: '100%' }">
          <mat-label>Note</mat-label>
          <textarea
            matInput
            [(ngModel)]="scholar.scholar.note"
            placeholder="Add notes here"
          ></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button (click)="onNoteSave()">
          <span>Save</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-expansion-panel (opened)="getBattleInfo()">
    <mat-expansion-panel-header>
      <mat-panel-title> ⚔️ Previous Battles </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="loading">
      <p>Loading please be patient</p>
      <mat-spinner style="margin: 0 auto"></mat-spinner>
    </div>

    <div *ngIf="battleLogs && loading == false">
      <div *ngIf="battleLogs.hasError">
        <p>There was a error please refresh</p>
      </div>
      <div *ngIf="!battleLogs.hasError">
        <table
          style="text-align: start; padding-left: 10px"
          *ngIf="battleLogs.battles"
        >
          <tr *ngFor="let battle of battleLogs.battles">
            <td style="padding-right: 20px">
              <strong>
                {{ getPlayedTime(battle) }}
              </strong>
            </td>
            <td>
              <p
                *ngIf="!battle.win"
                style="height: 20px; color: rgb(247, 5, 5)"
              >
                Lose
              </p>
              <p
                *ngIf="battle.win"
                style="height: 20px; color: rgb(29, 250, 0)"
              >
                Win
              </p>
            </td>
            <td *ngFor="let fighter of battle.fighters | ownAxie">
              <img
                *ngIf="fighter.ownTeam == true"
                style="height: 80px"
                [src]="
                  'https://storage.googleapis.com/assets.axieinfinity.com/axies/' +
                  fighter.axieId +
                  '/axie/axie-full-transparent.png'
                "
              />
            </td>
            <td>VS</td>
            <td *ngFor="let fighter of battle.fighters | enemyAxie">
              <img
                style="height: 80px"
                *ngIf="!fighter.ownTeam"
                [src]="
                  'https://storage.googleapis.com/assets.axieinfinity.com/axies/' +
                  fighter.axieId +
                  '/axie/axie-full-transparent.png'
                "
              />
            </td>
            <td>
              <mat-chip
                (click)="navigateToScholarReplay(battle)"
                style="
                  height: 20px;
                  color: white;
                  background: rgb(146, 215, 255);
                  min-height: 20px;
                "
              >
                Watch
              </mat-chip>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-expansion-panel>
</div>
