.title-row {
  font-weight: bold;
}



.item-row {
  padding-left: 10px;
}


.small-text {
  font-size: 10px;
}

:host {
  width: 100%;
}


.battles-table {
  td {
    word-break: normal;
  }
}
