<div style="background-color: #e3e39f; text-align: center; height: 100%; margin-top: 10px">
  <div style="padding: 10px;">
    <p>AxiePad is just a fan site it is NOT affiliated with Axie Infinity.</p>
    <p> Axies icons are by <a href='https://axieinfinity.com/'>https://axieinfinity.com/</a></p>
    <p> If you have any questions please reach out on <a href="https://discordapp.com/users/272510155784978433">Discord</a></p>
    <button mat-button (click)="termsClick()">Terms and Conditions</button>
    <button mat-button (click)="privacyClick()">Privacy Policy</button>
    <button mat-button (click)="githubClick()">Github</button>
  </div>
</div>
