<div style="display: flex; margin-right: 10px">
  <mat-card class="header-card" style="margin: 10px;" *ngIf="authService.userState as user">
    <img mat-card-sm-image src="assets/dashboard.png">
    <div>
      <p><strong>{{hideAddress.getValue() ? 'Manager' : user.displayName}}</strong></p>
    </div>
    <div >
      <span>{{ hideAddress.getValue() ? '*'.repeat(10) : user.email}}</span>
    </div>
  </mat-card>
  <mat-card class="header-card" style="margin: 10px;" *ngIf="authService.userState as user">
    <img mat-card-sm-image src="assets/total.png">
    <div >
      <strong>Total SLP:</strong> {{totalSLP}} <br>
      <span (click)="openCurrencyDialog()">
        <strong>Total {{fiatCurrency.toUpperCase()}}:</strong>
        {{totalFiat  | number : '1.2-2'}}
      </span>
    </div>
  </mat-card>
  <div class="header-card" style="align-self: flex-end; margin-left: auto">
    <button mat-raised-button (click)="refresh()" class="add-scholar-button">
      {{ 'Refresh' }}
    </button>
    <button mat-raised-button (click)="hideAddresses()" class="add-scholar-button">
      {{ hideAddress.getValue() ? 'Show Information' : 'Hide Information'}}
    </button>
    <button mat-raised-button (click)="addNewScholar()" class="add-scholar-button">
      Add New Scholar
    </button>
  </div>
</div>
<mat-tab-group style="
    margin-left: 15px;
    margin-right: 15px;">
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/slp.webp" style="width: 20px;margin-right: 10px;">
      <span>Earnings</span>
    </ng-template>
    <app-earnings-table [hideAddress$]="hideAddress"></app-earnings-table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/arena.png" style="height: 20px;margin-right: 10px;">
      <span>Arena</span>
    </ng-template>
    <app-arena-table [hideAddress$]="hideAddress"></app-arena-table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="assets/axie.png" style="height: 20px;margin-right: 10px;">
      <span>Axies</span>
    </ng-template>
    Coming soon!
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px; height: 20px; color: dodgerblue">person</mat-icon>
      <span>Profile</span>
    </ng-template>
    <app-profile-table [newScholar$]="newScholar" [hideAddress$]="hideAddress"></app-profile-table>
  </mat-tab>
</mat-tab-group>
