.header-card {
  margin: 10px;
  overflow-wrap: break-word;
  background: #87B7FF;
  color: white;
}

.add-scholar-button {
  text-align: center;
  margin-right: 10px;
}


.small-text {
  font-size: 10px;
}

.title-row {
  font-weight: 520;
  font-size: 14px;
  padding-bottom: 5px;
}

.item-row {
  padding-right: 5px;
  font-size: 14px;
}

::ng-deep.mat-tab-labels, ::ng-deep:last-child.mat-tab-label {
  min-width: 0 !important;
  padding: 0 0px !important;
  color: unset !important;
  opacity: unset !important;
  width: 100%;
  justify-content: flex-end;
}

.content {
  height: 160px;
  overflow: auto;
}

mat-list {
  flex-grow: 1;
  overflow: auto;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(116, 116, 116);;
}
