<div style="display: block;">
  <canvas baseChart *ngIf="barChartData.length > 0"
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    style="height: 200px">
  </canvas>
</div>
<div class="foot" fxLayout="column" fxLayoutAlign="center center" *ngIf="barChartData.length > 0">
  <p>Estimated Manager Monthly: ${{ estimatedManagerMonthly }}</p>
  <p>Estimated Scholar Monthly: ${{ estimatedScholarMonthly }}</p>
</div>
