<div class="login-wrapper">
  <mat-card style="width: 300px; text-align: center;">
    <img src="assets/axie.png">
    <p> Axie Pad is a fan site for managers who have given out scholarships and want a method to
      track and store some useful information of scholars. </p>
    <p> By continuing you agree to the <a href="#/terms">terms of conditions</a> and <a href="#/privacy">privacy policy</a></p>
    <button mat-button (click)="ngAuthService.GoogleAuth()">Login with Google</button>
  </mat-card>
</div>
