<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <form>
    <mat-form-field  appearance="fill">
      <mat-label>Group</mat-label>
      <input [(ngModel)]="data.group" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <mat-form-field>
    <mat-label>Account Ronin Address</mat-label>
    <input matInput [(ngModel)]="data.roninAddress">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="data.useOwnPayShare">Use own pay scale</mat-checkbox>
  <div style="margin-top: 10px;">
    <mat-form-field *ngIf="data.useOwnPayShare">
      <mat-label>Manager's Share</mat-label>
      <input type="number" matInput [(ngModel)]="data.managerShare">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Paid Times</mat-label>
      <input type="number" matInput [(ngModel)]="data.paidTimes">
    </mat-form-field>
    <h2> Scholar Details </h2>
    <mat-form-field appearance="fill">
      <mat-label>Preferred Payment Method</mat-label>
      <mat-select [(ngModel)]="data.preferredPaymentMethod">
        <mat-option [value]="paymentMethods.ronin">Ronin Wallet</mat-option>
        <mat-option [value]="paymentMethods.eth">Ethereum Wallet</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Scholar Ronin Address</mat-label>
      <input matInput [(ngModel)]="data.scholarRoninAddress">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Scholar Eth Address</mat-label>
      <input matInput [(ngModel)]="data.scholarEthAddress">
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
