<table
  mat-table
  matSort
  (matSortChange)="onSortData($event)"
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  multiTemplateDataRows
>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="isGroup(element)" (click)="groupHeaderClick(element)">
        <mat-icon *ngIf="!element.expanded" class="pointer-mouse"
          >chevron_right</mat-icon
        >
        <mat-icon *ngIf="element.expanded" class="pointer-mouse"
          >expand_more</mat-icon
        >
      </div>
      <div
        *ngIf="isNotGroup(element)"
        style="text-align: start !important; padding-left: 10px"
        (click)="expandScholar(element)"
      >
        <mat-icon *ngIf="!element.expanded" class="pointer-mouse"
          >chevron_right</mat-icon
        >
        <mat-icon *ngIf="element.expanded" class="pointer-mouse"
          >expand_more</mat-icon
        >
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element" style="width: 200px">
      <div
        *ngIf="isGroup(element)"
        (click)="groupHeaderClick(element)"
        style="text-align: start !important"
        class="group-name"
      >
        <span>
          {{ hideAddresses ? "🧑‍🤝‍🧑 Group" : getGroupName(element) }} ({{
            element.totalCounts
          }})</span
        >
      </div>

      <div
        *ngIf="isNotGroup(element)"
        (click)="navigateToScholar(element)"
        style="text-align: start !important"
        class="group-name"
      >
        <span>{{ hideAddresses ? "Scholar" : element.name }} </span><br />
        <span style="font-size: 12px">(⚔️ {{ element?.elo }})</span>
      </div>
      <br />
    </td>
  </ng-container>

  <ng-container matColumnDef="axies">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Axies</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="isGroup(element)" style="text-align: center">
        {{ element.totalAxies }}
      </div>
      <div *ngIf="isNotGroup(element)" class="axies-container">
        <div
          *ngFor="let axie of element.axies"
          (click)="navigateToAxie(axie.id)"
          style="width: 164px; float: left"
        >
          <span [style.background]="getAxieClassColor(axie.class)">{{
            hideAddresses ? "#AxieId" : "#" + axie.id
          }}</span
          ><br />
          <span style="font-size: 12px">{{
            hideAddresses ? "AxieName" : axie.name
          }}</span
          ><br />
          <span style="font-size: 12px">Breed Count: {{ axie.breedCount }}</span
          ><br />
          <img [src]="axie.image" style="height: 120px" />
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumns.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
      >
        <app-scholar-more-info
          *ngIf="element.expanded"
          [scholarId]="element.id"
        ></app-scholar-more-info>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns; when: isGroupCell"
    [style.background-color]="getGroupColor(element)"
    style="border-radius: 25px"
  ></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns; when: isNotGroupCell"
    class="example-element-row"
    [class.example-expanded-row]="element.expanded"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']; when: isNotGroupCell"
    class="example-detail-row"
  ></tr>
</table>
