<table mat-table matSort matSortActive="rank" matSortDirection="asc" [dataSource]="dataSource"
       class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element" (click)="navigateToScholar(element)" stlye="width: 200px">
      <span>{{hideAddresses ? 'Scholar' : element.name}} </span><br>
      <span style="font-size: 12px;">(⚔️ {{element?.elo}})</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="axies">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Axies</th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let axie of element.axies" (click)="navigateToAxie(axie.id)" style="width: 164px; float:left">
        <span [style.background]="getAxieClassColor(axie.class)">#{{axie.id}}</span><br>
        <span style="font-size: 12px;">{{axie.name}}</span><br>
        <span style="font-size: 12px;">Breed Count: {{axie.breedCount}}</span><br>
        <img [src]="axie.image" style="height: 120px;">
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
              [length]="resultsLength">
</mat-paginator>

