<div fxLayout="column" fxFlexFill>
  <mat-toolbar style="background: #F0F0F0; padding-bottom: 10px;">
    <button *ngIf="linkedTables && linkedTables?.length > 0"
       mat-icon-button [matMenuTriggerFor]="menuTable" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuTable="matMenu" >
      <button mat-menu-item (click)="setOwnTable()">
        {{ownTableTitle}}
      </button>
      <button *ngFor="let table of linkedTables" mat-menu-item (click)="setTable(table)">
        {{table.name}}
      </button>
    </mat-menu>
    <a mat-button class="companyName" routerLink="/dashboard" (click)="openTitleDialog()">
      <span>{{title}}</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true" *ngIf="signedIn()">
      <a mat-button (click)="showNotes()">
        <mat-icon
          style="padding-bottom: 3px;"
          [matBadge]="noOfNotes"
          matBadgeOverlap="false"
          matBadgeColor="warn">sticky_note_2</mat-icon>
      </a>
      <a mat-button (click)="showNotificationDialog()">
        <mat-icon style="padding-bottom: 3px;">notifications</mat-icon>
      </a>
    <button mat-raised-button (click)="navigateSLPChart()" class="crypto-button">
      <img src="assets/slp.webp" style="width: 20px"><span style="padding-left: 5px;">{{ fiatCurrency }}{{SLPPrice | number : '1.2-2'}}</span>
    </button>
    <button mat-raised-button (click)="navigateAXSChart()" class="crypto-button">
      <img src="assets/axs.webp" style="width: 20px"><span style="padding-left: 5px;">{{ fiatCurrency }}{{AXSPrice | number : '1.2-2'}}</span>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">


      <button mat-menu-item routerLink="/donate">
        <mat-icon style="margin-left: 5px; color: #fa0032">favorite</mat-icon>Donate
      </button>
      <button mat-menu-item (click)="addTable()">
        <span style="margin-left: 5px; margin-right: 15px;">📋</span>Other Tables
      </button>
      <button mat-menu-item (click)="openAddManagerDialog()">
        <span style="margin-left: 5px; margin-right: 15px;">👨‍🏫</span>Managers
      </button>
      <button mat-menu-item (click)="shareDialog()">
        <span style="margin-left: 5px; margin-right: 15px;">⚖️</span>Pay Percentage
      </button>
      <button mat-menu-item (click)="hideAddresses()">
        <mat-icon style="margin-left: 5px">{{ hideAddress.getValue() ?  "visibility_off" : "visibility" }}</mat-icon>{{ hideAddress.getValue() ?  "hide info" : "show info" }}
      </button>
      <button mat-menu-item (click)="openCurrencyDialog()">
        <mat-icon style="margin-left: 5px; color: #058630">paid</mat-icon>{{fiatCurrencyTitle?.toUpperCase()}}
      </button>
      <button mat-menu-item (click)="onImport()">
        <mat-icon>file_upload</mat-icon>Import
      </button>
      <button mat-menu-item (click)="onExport()">
        <mat-icon>file_download</mat-icon>Export
      </button>
      <button mat-menu-item (click)="signOut()">
        <mat-icon style="margin-left: 5px; color: #f2738c">logout</mat-icon>Sign out</button>
    </mat-menu>
    </div>
  </mat-toolbar>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
