.companyName{
  font-size: 150%;
  color: #888888;
}
div {
  overflow: inherit;
}
a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}
button{
  font-size: 110%;
  min-width: min-content;
}
.example-icon {
  padding: 0 14px;
}
html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-sidenav-content{
  font-size: 200%;
  text-align: center;
}


::ng-deep .mat-sort-header-container {
  justify-content: center !important;
  text-align:center;
}
