<div fxLayout="column" fxFlexFill>

  <mat-toolbar color="primary">
    <a mat-button class="companyName" routerLink="/dashboard">
      <span>Axie Pad</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true" *ngIf="signedIn()">
      <a mat-button routerLink="/donate"><mat-icon>favorite</mat-icon> Donate </a>
      <a mat-button routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard </a>
      <a mat-button (click)="signOut()"><mat-icon>exit_to_app</mat-icon> Sign out</a>
    </div>
  </mat-toolbar>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
