<h1 mat-dialog-title>{{data.name}}</h1>
<table>
  <tr>
    <td class="title-row">Ronin Name</td>
    <td class="item-row">{{roninName}}</td>
  </tr>
  <tr>
    <td class="title-row">Ronin Address</td>
    <td class="item-row">{{data.roninAddress | shortenRoninAddress: false}}</td>
  </tr>
  <tr>
    <td class="title-row">Total In Progress </td>
    <td class="item-row">{{slp.inProgress}}</td>
  </tr>
  <tr>
    <td class="title-row">Scholar Share (To Pay) </td>
    <td *ngIf="data.managerShare" class="item-row">{{slp.inProgress * ((100 - data.managerShare) / 100)}} <span class="small-text">({{100 - data.managerShare}}%)</span></td>
    <td *ngIf="!data.managerShare" class="item-row">{{slp.inProgress}}</td>
  </tr>
  <tr>
    <td class="title-row">Payment Method</td>
    <td class="item-row" *ngIf="data.preferredPaymentMethod === paymentMethods.ronin">Ronin Wallet</td>
    <td class="item-row" *ngIf="data.preferredPaymentMethod === paymentMethods.eth">Ethereum Wallet</td>
  </tr>
  <tr *ngIf="data.preferredPaymentMethod === paymentMethods.ronin">
    <td class="title-row">Ronin Name</td>
    <td class="item-row">{{data.scholarRoninName | shortenName: false}}</td>
  </tr>
  <tr *ngIf="data.preferredPaymentMethod === paymentMethods.ronin" [cdkCopyToClipboard]="data.scholarRoninAddress" (click)="openSnackBar(data.scholarRoninAddress)">
    <td class="title-row">Scholar Ronin Address</td>
    <td class="item-row">
      <mat-icon>file_copy</mat-icon>{{data.scholarRoninAddress | shortenRoninAddress: false}}</td>
  </tr>
  <tr *ngIf="data.preferredPaymentMethod === paymentMethods.eth" [cdkCopyToClipboard]="data.scholarEthAddress" (click)="openSnackBar(data.scholarEthAddress)">
    <td class="title-row">Scholar Ethereum Address </td>
    <td class="item-row">
      <mat-icon>file_copy</mat-icon>{{data.scholarEthAddress | shortenRoninAddress: false}}</td>
  </tr>
</table>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Paid</button>
</div>
