<div mat-dialog-actions style="padding-bottom: 30px;">
  <h1>Shared Tables</h1>
</div>
<span>
  You can load other tables from other users
</span>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field>
    <mat-label>Search tables...</mat-label>
    <input placeholder="Name or ID" matInput [(ngModel)]="searchQuery" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="onLoadOwnTable()">Load own Table</button>
</div>
<div class="tables-container">
  <div *ngFor="let table of linkedTables" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [value]="table.name" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Table ID</mat-label>
          <input matInput [value]="table.tableID" readonly>
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button color="primary" (click)="onLoadTable(table)">Load</button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
