

      <h2>Top Earners
        <button mat-button (click)="close()" style="float:right">Close</button>

        <mat-icon style="float:right; cursor: pointer;
        font-size: 18px;
        margin: 10px;" (click)="sortScholars()">sort</mat-icon>
    </h2>

      <div style="margin: 10px; height: 90vh; max-height: 600px;">
        <mat-tab-group (selectedTabChange)="onTabChange($event.index)" [selectedIndex]="0">
          <mat-tab>
            <ng-template mat-tab-label>
              SLP<img src="assets/slp.webp" style="width: 20px; margin-left: 5px">
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Arena ⚔️
            </ng-template>
          </mat-tab>
        </mat-tab-group>
        <mat-list class="content" id="style-2">
          <mat-list-item *ngFor="let scholar of scholarChunks; let i = index">

            <h3 matLine> {{ scholar.name}}
              <span *ngIf="viewMode$.getValue() === viewMode.slp" style="font-size: 10px;">(Average: {{scholar.average | number: "1.2-2"}})</span>
              <span *ngIf="viewMode$.getValue() === viewMode.elo" style="font-size: 10px;">(Elo: {{scholar.elo | number: '1.0-0'}})</span>

            </h3>
            <mat-divider style="width: calc(100% - 10px);"></mat-divider>
          </mat-list-item>
      </mat-list>

        <mat-paginator
          [length]="scholars.length"
          [pageSize]="10"
          (page)="pageEvent = $event"
          [ngStyle]="{'margin-top': '25px'}">
        </mat-paginator>
      </div>

