<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
  <h2 mat-dialog-title>Share</h2>
  <div fxFlex id="share-link" class="link-box" (click)="showCopyMessage()" [cdkCopyToClipboard]>
    {{ (shareLink | slice:0:35) + '...' }}
  </div>
  <button mat-stroked-button color="primary" (click)="onShare()">Share</button>
  <button mat-stroked-button color="primary" (click)="stopSharing()">Stop Sharing</button>
</div>
<div mat-dialog-content>
  <p>By selecting the scholars, you are sharing allowing anyone with this link to see the axies you have for this
    scholar. Be careful who you give this link to!</p>

  <div [ngStyle]="{'text-align': 'right'}">
    <button mat-flat-button color="primary" (click)="onAddAll()">Add All</button>
  </div>

  <table mat-table [dataSource]="scholars">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Scholar Name</th>
      <td mat-cell *matCellDef="let scholar">{{scholar.name}}</td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef>Scholar Team</th>
      <td mat-cell *matCellDef="let scholar">{{scholar.group.length ? scholar.group : '😥 no team'}}</td>
    </ng-container>

    <ng-container matColumnDef="roninAddress">
      <th mat-header-cell *matHeaderCellDef>Scholar Ronin Address</th>
      <td mat-cell *matCellDef="let scholar">{{(scholar.roninAddress | slice:0:9) + '...' + (scholar.roninAddress |
        slice:scholar.roninAddress.length - 4:scholar.roninAddress.length)}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let scholar">
        <button mat-flat-button color="primary" (click)="onAdd(scholar.roninAddress)" *ngIf="!isSharing(scholar.roninAddress)">Add</button>
        <button mat-flat-button color="error" (click)="onRemove(scholar.roninAddress)" *ngIf="isSharing(scholar.roninAddress)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
