<table mat-table matSort matSortActive="totalSLP" matSortDirection="desc" [dataSource]="dataSource"
       class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
    <td mat-cell *matCellDef="let element" (click)="navigateToScholar(element)"> {{hideAddresses ? 'Scholar' : element.name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="notClaimableSLP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>In Progress</th>
    <td mat-cell *matCellDef="let element"> {{element.totalSLP - element.claimableSLP}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="claimableSLP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Claimable</th>
    <td mat-cell *matCellDef="let element"> {{element.claimableSLP}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="totalSLP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
    <td mat-cell *matCellDef="let element"> {{element.totalSLP}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="accountEthAddress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Eth Address</th>
    <td mat-cell *matCellDef="let element">
      <span [cdkCopyToClipboard]="element.accountEthAddress"
            (click)="openSnackBar(element.accountEthAddress)">
        {{ formatAddress(element.accountEthAddress)}}
      </span>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="scholarRoninAddress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Scholar Ronin Address</th>
    <td mat-cell *matCellDef="let element">
      <span [cdkCopyToClipboard]="element.scholarRoninAddress"
            (click)="openSnackBar(element.scholarRoninAddress)">
        {{ formatAddress(element.scholarRoninAddress)}}
      </span>
    </td>
  </ng-container>


  <!-- Weight Column -->
  <ng-container matColumnDef="claimableDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Claimable In </th>
    <td mat-cell *matCellDef="let element">
        {{getClaimableDate(element)}}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon color="primary" (click)="openDialog(element)">edit</mat-icon>
      <mat-icon style="margin-left: 5px; color: #f2738c" (click)="deleteScholar(element)">delete</mat-icon>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
